@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "RenaultWithoutSiconMaster.cshtml";
}

@* the fun starts here *@
<section>
    <div class="steps-container">
        <div class="containerRt">
            <div class="container-inr">
                <div class="steps-list">
                    <ul>
                        <li class="active complt">
                            <div class="steps_blocks">
                                <!-- <span>1</span> -->
                                <p>Explore Cars</p>
                            </div>
                        </li>
                        <li class="active complt">
                            <div class="steps_blocks">
                                <!-- <span>2</span> -->
                                <p>Configure car</p>
                            </div>
                        </li>
                        <li class="active complt">
                            <div class="steps_blocks">
                                <!-- <span>3</span> -->
                                <p>Personal/ dealer Info</p>
                            </div>
                        </li>
                        <li class="active">
                            <div class="steps_blocks">
                                <!-- <span>4</span> -->
                                <p>Preview</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
@*<a href="mailto:me@domain.com?subject=You can specify subject too">sds</a>
<br />
<a href="outlook:">Click here to launch Microsoft Outlook</a>*@
@(await Component.InvokeAsync("Preview"))


@section Scripts {
    <script src="/myscript/preview.js"></script>
}
