@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "RenaultMaster.cshtml";
}
<section>
    <div class="thankyou_top">
        <div class="containerRt">
            <div class="container-inr">
                <div class="thankyoutop_inr">
                    <h2>
                        Thank you for booking your <br> <strong>Renault Kiger </strong> online!
                        <span>We welcome you to the Renault family</span>
                    </h2>
                    <div class="thankyou_imgtop">
                        <img src="/common/images/kiger.png">
                        <!-- <div class="dtidownload">
                          <a href="javascript:void(0);"><span>Download</span><img src="common/images/downloadicon.png"></a>
                        </div> -->
                    </div>
                    <div class="thankyou_flex">
                        <ul>
                            <li>
                                <p>Booking ID:</p>
                                <span>RENHJU</span>
                            </li>
                            <li>
                                <p>Booking Amount:</p>
                                <span>Paid <em>₹ 50,890</em></span>
                            </li>
                            <li>
                                <p>Vehicle Booked:</p>
                                <span>
                                    Kiger (
                                    RXL-EASY-R-1-L-ENERGY
                                    )
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="thankyoutop_btm">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="thankyou_bottom">
        <div class="summary_details">
            <div class="summary_detailsinr">
                <div class="summLine"></div>
                <div class="tns">
                    <h3>The Next Steps</h3>
                    <p>You will receive confirmation from us on your mobile number and email. Renault dealer will get in touch with you shortly. Wishing you many happy kilometers.</p>
                </div>
                <div class="tnsmiddle">
                    <p>Mobile Number: <span><a href="tel:99718-22345">99718-22345</a></span></p>
                    <p>Email Id: <span><a href="mailto:buyer@buyer.com">buyer@buyer.com</a></span></p>
                </div>
                <div class="tnsbtm">
                    <p>Now apply for finance and get great offers from Renault why is it easy for the user to apply now.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="offerProceed">
        <div class="offerProceedbtn">
            <button class="btnrtCmn yellbtn fnlSbmit mrright" style="display: inline-block;">Download</button>
            <button class="cmnBtnSumbmit cmnBtncs"><div class="Button__content">Apply for finance</div></button>
        </div>
    </div>
</section>

