<div class="mainPopup pnlPopup">
    <div class="mainPopInr">
        <div class="mainPopContent">
            <div class="mainPopTop">
                <h2>Privacy & Legal</h2>
                <a href="javascript:void(0);"><img src="/common/images/closemdpopup.png"></a>
            </div>
            <div class="mainPopBtm">
                <div class="mainPopBtminr">
                    <div class="AemRenault">
                        <p>RENAULT INDIA PRIVATE LIMITED (RIPL) collects information from our users at several different points on our website. RIPL is the sole owner of the information collected on this site. We will not sell or rent this information to others. We will only share this information with our affiliates and dealers, and marketing partners contracted to do business on our behalf (e.g. brochure fulfilment).<br> </p>
                        <p>RIPL uses two types of user information: anonymous information gathered from cookies and log files and personal information you provide us with for certain services. See below for definitions of each of these methods.</p>
                        <p>&nbsp;</p>
                        <p><b>Public Notice</b></p>
                        <p>TO WHOMSOEVER IT MAY CONCERN</p>
                        <p>This is to inform the general public that new Renault brand vehicles are sold only through its authorised dealer network. E-commerce websites like Snapdeal.com, Flipkart.com, Amazon.in, OLX.com, etc. or any other person operating through these websites are not part of our authorised dealer network and they are not authorised to sell new Renault brand vehicles. New Renault brand vehicles sold through these websites do not carry any warranties from Renault.</p>
                        <p>We request the general public to check the warranty entitlements, when you purchase any Renault brand vehicle from such websites or persons operating through such websites.</p>
                        <p>Any such deals made by any person(s) through such websites shall purely be at their own risk.</p>
                        <p>Issued by Renault India Private Limited, Chennai</p>
                        <p>Customer Service Number:&nbsp;1800 315 4444</p>
                        <p>&nbsp;</p>
                        <p><b>Volunteering Personal Information:</b></p>
                        <p>Users may choose to volunteer personal information (name, e-mail address, phone number, etc.) in order for us to provide them with better services such as brochure and information requests, surveys, contests, site announcements, and special offers at the time of the request or in the future. If you previously gave us your e-mail address and no longer wish to receive e-mail announcements, you can have your name removed from our e-mail list by sending an e-mail, calling, or by sending regular mail. Renault does not sell or rent user information to any third parties. We share user information with our affiliates and dealers, and marketing partners contracted to do business on our behalf (e.g. brochure fulfilment). When the user signs up for certain services and offers on our site, we will share names, or other contact information necessary for any associate third party to provide these services. Renault will share user information in accordance with the privacy policy in effect at the time of the information is collected. If a user’s personal information changes, we will endeavour to provide a way to correct or update that user’s personal data provided to us. This can be done by contacting Renault Consumer Affairs.</p>
                        <p>&nbsp;</p>
                        <p><b>Security:</b></p>
                        <p>Renault takes all reasonable precautions to protect our users’ information, both while the information is being transmitted and after it is received by us. We use security procedures and policies commensurate with industry standards to safeguard against loss, theft, unauthorised access, destruction, use, modification and disclosure. If you have any questions about the security of our website, you can send an e-mail to RIPL.</p>
                        <p>&nbsp;</p>
                        <p><b>Links:</b></p>
                        <p>This website contains links to other sites. Please be aware that RIPL is not responsible for the privacy practices of such other sites. We encourage our users to be aware when they leave our site and to read the privacy statements of each website that collects personal information. This privacy statement applies solely to information collected by this website.</p>
                        <p>&nbsp;</p>
                        <p><b>Notification of changes:</b></p>
                        <p>We retain the right to change this privacy policy at any time. We will display those changes to this page so that users are always aware of what information we collect, how we use it, and under what circumstances we disclose it. We will use, share, and disclose all information in accordance with the privacy policy in effect at the time the information was collected.</p>
                        <p>&nbsp;</p>
                        <p><b>Certain disclosures:</b></p>
                        <p>Renault may disclose any data, whether personally identifiable or not, to any person performing audit, legal, operational or other similar services for Renault. Whenever possible, we will require any recipient of personal information for these purposes to agree in writing to hold the information in confidence, to use the information only for the permitted purpose, and to return or destroy the information when the services are completed.</p>
                        <p>We may also disclose any data, whether personally identifiable or not, when we reasonably deem it necessary to protect the safety of (i) an individual, (ii) the public/country/nation or (iii) the security and reliability of Renault and/or this website.</p>
                        <p>&nbsp;</p>
                        <p><b>Disclaimer:</b></p>
                        <p>The information, pictures, colours, and specifications contained within the Renault India Private Limited website are presented as a general guide to the products and accessories offered by the Renault India Private Limited. Although every effort has been made to ensure that such information is correct and up to date, no warranty is provided that all such information is reliable, complete, accurate or without error. In some cases, pictures of overseas models may be shown as a guide. Therefore, Renault India Private Limited does not accept liability for damages of any kind resulting from the access or use of this site and its contents.</p>
                        <p>&nbsp;</p>
                        <p><b>Note:</b></p>
                        <p>Renault India does not charge any fee for recruitment of its employees. People&nbsp;should refrain from any such claim made for providing employment with Renault.&nbsp;&nbsp;<br> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>