@using RenaultPortal.Models
@model ColorWiseCarImgCarVarinatName
<img src="/carimages/@Model.colorwise_carimg">
<div class="openscmain">
    <h3>@Model.car_name</h3>
    <h4>@Model.car_heading</h4>
</div>