<div class="mainPopup tncPopup">
    <div class="mainPopInr">
        <div class="mainPopContent">
            <div class="mainPopTop">
                <h2>Terms & Conditions</h2>
                <a href="javascript:void(0);"><img src="/common/images/closemdpopup.png"></a>
            </div>
            <div class="mainPopBtm">
                <div class="mainPopBtminr">
                    <div class="AemRenault">
                        <p><b>Terms and Conditions of prices for all cars:</b></p>
                        <ul>
                            <li>All prices are ex-showroom Delhi.<br> </li>
                            <li>Local levies, octroi, entry tax etc. will be extra as applicable.</li>
                            <li>Price ruling at the time of delivery would be applicable.</li>
                            <li>Please contact dealer for exact prices.</li>
                            <li>Prices are subject to change without notice.</li>
                            <li>For offer related terms and conditions, click&nbsp;<a href="/car-offers.html">here</a>.</li>
                        </ul>
                        <p>&nbsp;</p>
                        <p><b>Terms and Conditions:</b></p>
                        <ul>
                            <li>The period of any offer is subject to RIPL’s discretion. It may be changed/amended without prior notice.</li>
                            <li>Offers may vary from every model and variant and will be available till stocks last with the dealer.</li>
                            <li>The offers mentioned in any advertisements may not be applicable for all models/variants shown in the advertisement.</li>
                            <li>*September 2020 North &amp; Central Zones (UP, Uttarakhand, Rajasthan, NCR, Punjab, Haryana, Himachal, J&amp;K). Gift vouchers worth Rs. 25,000/- to be won. Read full terms and conditions <a href="https://cdn.group.renault.com/ren/in/september-tactical-tnc/sept-2020_n-c_gift-voucher-tnc.pdf">here</a>.</li>
                            <li>An offer cannot be clubbed with any other offer.</li>
                            <li>Offers and price of the car will be as prevailing at the time of delivery and not the time of the booking.</li>
                            <li>The price mentioned in the advertisement may vary depending on the model/variant and features in the car.</li>
                            <li>Accessories, features and colours shown on the car may vary and may not be available as a part of the standard equipment/specification and may differ from the vehicles available for sale.</li>
                            <li>Depending on the country of sale, certain versions may differ and certain equipment may be unavailable (as standard, optional or accessory).</li>
                            <li>We strongly recommend that you visit your nearest Renault dealer to inspect the vehicles personally.</li>
                            <li>Offers, mentioned in any advertisement with more than one car, may or may not be applicable for all the cars shown in the advertisement.</li>
                            <li>Offers are subject to change from city to city.</li>
                            <li>All prices are ex-showroom price in Delhi for petrol variants only unless otherwise specified.</li>
                            <li>As part of on-going product improvement, RIPL reserves the right to modify the specifications, vehicles and accessories described and shown at any time.</li>
                            <li>Renault India Pvt. Ltd. reserves the right to discontinue/modify/change all or any of the terms applicable to the offer program without assigning any reasons or prior intimation whatsoever.</li>
                            <li>Warranty coverage is 2 years or 50,000 km. from the date of invoice (whichever is earlier)</li>
                            <li>Original colours of the car and colours of the car in the ad may not match due to printing limitations.</li>
                            <li>Mileage claimed is as per the ARAI Certifications.</li>
                            <li>Visit website to check the full specification and features.</li>
                            <li>All trademarks and logos are registered trademarks of the company and its affiliates.</li>
                            <li>All the TVC and digital films are shot in an controlled environment. All license plates used in the TVC/digital films are for representation purpose only. They are not to be mistaken for actual license plate for said vehicle.<br> </li>
                            <li>RVA is an AI powered chatbot, which has a pre-defined conversational&nbsp; flow. User can select from the suggested options only. This automated bot does not respond to customer complaints or any topic other than the suggested 5 options.<br> </li>
                            <li>Although every effort has been made to ensure that such information is correct and up to date, no warranty is provided that all such information is reliable, complete, accurate or without error.</li>
                            <li>In case of any references, product description, specifications and pricing of our competitors contained in the ad/POS material are correct as at the time the material was being prepared for viewing and printing. The specifications have been obtained from competitors brochures and other independent published sources while the comments with reference to them are independent views.</li>
                            <li>All illustrations, photographs and specifications on this website are based on the latest product information; some vehicle parts cannot be shown in certain photographs. Some vehicles are shown with optional equipment. See actual vehicles for complete accuracy. Renault India (P.) Ltd. reserves the right to make changes at any time, without notice, in prices, colours, materials, equipments, specifications and models, and to discontinue models or equipment. Availability and delivery time for particular models and equipment combinations may vary.</li>
                            <li>Any links (i.e. other than the company’s websites) and any information which comes out of the web search engines are being provided as a courtesy and should not be construed as an endorsement or guarantee as to the correctness of such information or views at the linked sites by the company.</li>
                            <li>The company is not responsible for any pornographic or abusive material, restricted secrets or controlled content or material in any form, which may be uploaded by registered users/third parties onto the website/social media pages, microsites or sponsored pages. All submissions of this nature are unauthorised by the company and it shall use its best efforts to remove any such submission as soon as it is notified of the same. Renault.co.in is not responsible for and will not be liable for, any conduct, failure to act, product or services of Renault.co.in affiliated web sites, including, without limitation, the manner and timing of opportunities to accumulate or use Renault.co.in and any malfunction, breach of warranty or injury or damage suffered as a result of the products or services offered by any Renault.co.in affiliated website.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>