<div class="mainPopup cpPopup">
    <div class="mainPopInr">
        <div class="mainPopContent">
            <div class="mainPopTop">
                <h2>Cookies Policy</h2>
                <a href="javascript:void(0);"><img src="/common/images/closemdpopup.png"></a>
            </div>
            <div class="mainPopBtm">
                <div class="mainPopBtminr">
                    <div class="AemRenault">
                        <p>A cookie is a piece of data stored on the user’s hard drive containing information about the user. Usage of a cookie is in no way linked to personal information, until a user provides that information (see below). If a user rejects or deletes the cookie, he/she may still use our site. The only drawback to this is that the user will be limited in some areas of our site. For example, the user will not be able to receive notification of special offers, or participate in any contests that may take place. Cookies also enable us to track and aggregate click stream behaviour data. By doing this, we can target better the interests of our users and enhance their experience on our site. Renault also maintains standard web logs that record data about all visitors to this Website.These logs may contain:</p>
                        <p>&nbsp;</p>
                        <ul>
                            <li>The internet domain from which you access this site</li>
                            <li>Your IP address (Your computer is automatically assigned an IP address when you surf the internet. Your IP address is either static or dynamic. A static IP address may be identifiable to you; a dynamic address is usually not identifiable to you)</li>
                            <li>The type of browser and operating system you use</li>
                            <li>The date and time you visited this siteThe pages you viewed on this site</li>
                            <li>The address of the website from which you are linked&nbsp;</li>
                        </ul>
                        <p>&nbsp;</p>
                        <p>Renault uses web log and clickstream information to help us design our site, to identify popular site features and to make the site more useful for visitors. Web logs are recorded in sequential files, and we normally do not attempt to identify individuals from these logs. However, we may use web logs to identify persons attempting to break into, disrupt, trespass or damage our site. We may share web log information with law enforcement personnel if we believe evidence exists, or is likely to occur, of a violation of federal, state or local laws or regulations. Renault advertising at other non-Renault sites may be serviced by Renault service providers. You may use cookies to collect information about your visits to those sites. Information collected may include the pages visited, date and time, browser information and/or IP address. We normally make no attempt to link this information to you personally, except under circumstances described above. This information is gathered in order to help us customise and target our advertising to the needs and interests of our customers. If you wish to opt out of this tracking at our advertising at third party sites, please visit the site of our service provider, RIPL. Should you decide that you do not wish to participate in RIPL-enabled information delivery, you can opt out from there, or by clicking here.<br> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>